{
    color: white;
    font-weight: 900;
    font-family: verdana;
    font-size: 60px;
}
code
{
    font-weight: 100;
    font-size: 40px;
    font-family: arial;
}

table 
{ 
    border-collapse:collapse 
}

h1
{
    background: linear-gradient(225deg, #00e3e4 0%, #006683 100%);
    font-size: 60px;
    color: white;
    font-family: verdana;
    display: block;
    border-radius: 8px;
    margin: 12px 15% 35px 15%;
}

.UNPEUDEHAINE
{
    background-color: #2f2aa2;
}
.PROBLÈMES
{
    background-color: #a1a2d2;
}
.PETROUCHKA
{
    background-color: #2d2e33;
}
.PILOTE
{
    background-color: #202042;
}
.POLAK
{
    background-color: #c6a387;
}


button
{
    border: 0;
    background: transparent;
    color: white;
    position: relative;
    overflow: hidden;
    padding: 20px 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 40px;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, 0.5), rgba(39, 200, 255, 0.5);
    transition: all 0.2s;
}

button::after
{
    content: "";
    width: 500px;
    height: 500px;
    background: linear-gradient(225deg, #00e3e4 0%, #006683 100%);
    position: absolute;
    top: -150px;
    left: -10%;
    z-index: -1;
    transition: all 0.5s;
}

button:hover::after 
{
    transform: rotate(150deg);
}